#wrapper {
	width: 960px;
	margin: 0 auto; /*0 - снизу сверху, auto - слева и справа margin одинаковый*/
}

@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


@font-face {
    font-family: 'linux_libertineregular';
    src: url('../fonts/Linux_libertineregular/linlibertine_r.eot');
    src: url('../fonts/Linux_libertineregular/linlibertine_r.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Linux_libertineregular/linlibertine_r.woff') format('woff'),
         url('../fonts/Linux_libertineregular/linlibertine_r.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: MyriadProRegular, sans-serif; 
	font-size: 12pt;
	color: black;
	background-image: url(../images/45degreee_fabric.png);
}

 a { 
 	  font-size: 13pt;
    font-family: Helvetica, sans-serif;
    color: #1F3A93;
   } 

 a:hover { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
   } 

p {
    text-indent: 20px; /* Отступ первой строки в пикселах */
    font-family: MyriadProRegular;
   }


h1, h2{
	font-family: linux_libertineregular;
}

h1 {	
		font-size: 18pt;
		color: #3A539B;
		text-shadow: 2px 2px 0 #ccc;
    text-align: center;
}

h2 {
	font-size: 16pt;
	color: #3A539B;
   text-align: left;
}

h3 {
	font-size: 12pt;
	color: #5069B0;
	padding-top: 10px;
	text-align: center;
}

h4 {
	font-size: 12pt;
	color: #000000;
}


.indent{ 							
		text-indent: 1.5em; /* Отступ первой строки */
}

.leftimg {
	width: 250px;
	float: left;
	margin-right: 20px;
}

.rightimg {
  width: 250px;
  float: right;
  margin-bottom: 20px;
  margin-left: 20px;
}

header { 
	 height:100px; 
	}

/*Навигация*/
nav {
  background: #336699;
  border-radius: 10px;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 23%; /* для 6 пунктов меню 15%, для 5 пунктов 17%*/
  text-align: center;
  background: #336699;
  -webkit-transition: 1s background;
}
nav a {
  display: block;
  padding: 5px 0;
  color: #fff;
  text-decoration: none;
}
nav a:hover {
  background: #57c8e8;
}

section { 
 	min-height: 700px;
	overflow: hidden;
	padding-left: 20px;
 }

/*Подвал*/
footer {
	font-style: italic;
	font-size: 12px;
	height: 50px;
	clear: both;
	text-align: center;
}

.links {
	text-align: center;
}